*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100svh;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

button {
  background: none;
  border: none;
}

.hide-on-mobile {
  display: none;
}

body {
  background-color: #fff;
  font-family: "Gilroy", "Arial", "sans serif";
  font-size: 1rem;
}

.site-header {
  background-image: url("../../assets/backgrounds/mobile-banner.svg");
  background-size: cover;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../../assets/font/font-gilroy/Gilroy-Light.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/font/font-gilroy/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/font/font-gilroy/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/font/font-gilroy/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../../assets/font/font-gilroy/Gilroy-Heavy.woff") format("woff");
}
.primary-link-button {
  display: inline-block;
  color: #FDFDFD;
  background-color: #003459;
  padding: 14px 28px;
  border-radius: 9999px;
}

.secondary-link-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #003459;
  border-radius: 9999px;
  border: solid 1px #003459;
  padding: 14px 28px;
}
.secondary-link-button img {
  width: 1.125rem;
  height: 1.125rem;
}

.pet-card {
  background-color: #FDFDFD;
}
.pet-card .pet-img {
  border-radius: 10px;
}

.pet-name {
  color: #00171F;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4285714286;
}

.card-info {
  color: #667479;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4285714286;
}

.price {
  color: #00171F;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.info-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FDFDFD;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.6;
  display: inline-flex;
  background-color: #00A7E7;
  padding: 0.125rem 0.625rem;
  border-radius: 9999px;
}

.knowledge-title {
  color: #00171F;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.knowledge-text {
  color: #242B33;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
}

.site-header {
  border-radius: 0 0 20px 20px;
}

.site-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5625rem;
}
.site-bar .logo {
  height: 2rem;
}

.nav-button {
  height: 100%;
}

.site-heading {
  font-weight: 800;
  color: #002A48;
  font-size: 2.875rem;
  font-weight: 800;
  line-height: 1.3;
}

.site-sub-heading {
  color: #002A48;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
}

.site-sub-text {
  color: #242B33;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
}

.section-title {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4285714286;
}

.section-heading {
  color: #003459;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
}

.pet-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.banner-heading {
  color: #002A48;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.5;
}

.banner-sub-heading {
  color: #002A48;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9166666667;
}

.banner-sub-text {
  color: #242B33;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
}

.footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 20px 20px;
}

.newsletter-form {
  background-color: #003459;
  border-radius: 16px;
}

.newsletter-form-heading {
  color: #FDFDFD;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
}

.newsletter-field-group {
  background-color: #fff;
  border-radius: 14px;
}

.newsletter-email-field {
  color: #99A2A5;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4285714286;
}

.newsletter-email-field:focus {
  color: #00171F;
}

.newsletter-submit-button {
  background: #003459;
  color: #FDFDFD;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 8px;
}

.footer-link {
  color: #00171F;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.policy-link {
  color: #667479;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
}

.copyright {
  color: #667479;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}/*# sourceMappingURL=style.css.map */