@use "../abstracts/index" as *;

// Includes 'One more friend' and 'Adoption' banners

.banner-section {
    background-image: url('../../assets/backgrounds/mobile-banner-3.svg');
    background-size: cover;
    border-radius: 20px;
    padding: 0 rem(21px);
    // Move padding top of 32px to column to give image full height
    
    .column:nth-child(1) {
        padding: rem(32px) 0;
    }
    @include responsive(desktop) {
        @include grid(1fr 1fr);

        .column:nth-child(2) img {
            height: 100%;
            align-self: end
        }
    }
}
.banner-heading {
    @include typography($primary-darkblue80, rem(36px), 800, calc(54/36));
    @include responsive(desktop) {
        font-size: rem(52px);
        line-height: calc(68 / 52);
    }
}
.banner-sub-heading {
    @include typography($primary-darkblue80, rem(24px), 700, calc(46 / 24));
    @include responsive(desktop) {
        font-size: rem(36px);
        line-height: calc(54 / 36);
    }
}
.banner-sub-text {
    @include typography($neutral80, rem(12px), 500, calc(18 / 12));
    margin-bottom: rem(32px);
    max-width: em(450px);
}
