@use "../abstracts/index" as *;

.footer {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 20px 20px 0 0;
    padding: rem(40px) rem(16px) rem(20px) rem(16px);
    .logo {
        margin: rem(36px) auto rem(42px) auto;
    }
    @include responsive(tablet) {
        padding-inline: $side-margins-tablet;
    }
    @include responsive(desktop) {
        padding-inline: $side-margins-desktop;
    }
}
.footer-link-container {
    margin: rem(40px) auto rem(20px) auto;
    @include flex($justify: space-between);
    .footer-link {
        @include typography($neutral100, 1rem, 500, calc(24 / 16));
    }
}

.social-media-container {
    @include flex(row, $justify: space-between);
    width: max(50%, 150px);
    margin: auto;
    // <a> tag
    .social-link {
        display: inline-block;
        height: rem(20px);
    }
}
// <img>
.social-icon {
    display: inline-flex;
    height: 100%;
    width: auto;
}

.policy-link-container {
    @include flex($gap: rem(12px));
    margin-bottom: rem(8px);
}
.policy-link {
    @include typography($neutral60, rem(12px), 500, 1.5);
    @include responsive(tablet) {
        font-size: rem(14px);
        line-height: calc(20 / 14);
    }
}

.copyright {
    @include typography($neutral60, rem(10px), 400, 1.6);
    text-align: center;
    @include responsive(tablet) {
        font-size: rem(14px);
        line-height: calc(20 / 14);
    }
}