@use "../abstracts/index" as *;

.partners-section {
    .section-title {
        font-size: rem(14px);
    }

    @include responsive(desktop) {
        display: block;
    }
}

.pet-sellers {
    font-size: rem(24px);
    color: $primary-darkblue;
}

.partners-list {
    @include flex($gap: rem(20px));
}
.partners-list-item {
    height: rem(120px);
    img {
        height: 100%;
    }
}