@use "../abstracts/index" as *;

.pet-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: rem(24px);

    tr {
        th {
            font-weight: 700;
            padding: em(12px) em(11px);
            text-align: left
        }
        td {
            @include typography($neutral60, rem(14px), 500, calc(20 / 14));
            padding: em(12px) em(11px);
            vertical-align: top;
        }
        td:first-child {
            width: 50%;
            max-width: em(100px);
        }
    }

    tr:not(:last-child) td {
        border-bottom: solid 1px $neutral10;
    }
}