@use "../abstracts/index" as *;
@use "sass:map";

.section {
    margin: rem(40px) 0;

    @include responsive(tablet) {
        margin: rem(50px) 0;
    }
    @include responsive(desktop) {
        margin: rem(60px) 0;
    }
}
.section-title {
    @include typography($black, rem(14px), 500, calc(20 / 14));
    @include responsive(tablet) { font-size: rem(16px)}
}
.section-heading {
    @include typography($primary-darkblue, rem(20px), 700, calc(32 / 20));
    @include responsive(tablet) { font-size: rem(24px)}
}