@use "../abstracts/index" as *;
@use "../base/typography" as *;
@use "sass:map";

.hide-on-mobile {
    @include responsive-range(1px, calc(map.get($breakpoints-map, desktop)) ) {
        display: none;
    }
}

body {
    background-color: $white;
    font-family: 'Gilroy';
    font-size: 1rem;
}

.header-w-background {
    background-image: url('../../assets/backgrounds/mobile-banner.svg');
    background-size: cover;
}

@media (min-width: map.get($breakpoints-map, desktop)) {
    .hide-on-desktop {
        display: none;
    }
}