@use "../abstracts/index" as *;

.hide-on-mobile {
  display: none;
}

body {
  background-color: $white;
  font-family: 'Gilroy', 'Arial', 'sans serif';
  font-size: 1rem;
}

.site-header {
  background-image: url('../../assets/backgrounds/mobile-banner.svg');
  background-size: cover;
}