*, *::before, *::after {
  box-sizing: border-box;
  //font-family: 'SVN-Gilroy', 'Arial', 'sans serif';
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100svh; // mobile small viewport height
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

button {
  background: none;
  border: none;
}