@use "../abstracts/index" as *;

/*  Thin 100
    UltraLight 200
    Light 300
    Regular 400
    Medium 500
    SemiBold 600
    Bold 700
    ExtraBold 800
    Black 900 */


@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;
    src: url('../../assets/font/gilroy/gilroy-light.woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src: url('../../assets/font/gilroy/gilroy-regular.woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: url('../../assets/font/gilroy/gilroy-medium.woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src: url('../../assets/font/gilroy/gilroy-bold.woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;
    src: url('../../assets/font/gilroy/gilroy-extrabold.otf');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    src: url('../../assets/font/gilroy/gilroy-heavy.woff');
}

.heading-subtext {
    @include typography($neutral60, rem(14px), 500, calc(20 / 14));
    display: inline;
}

.bold {
    font-weight: 700;
}