@use "../abstracts/index" as *;

.primary-link-button {
    @include flex();
    // Line height changed to 1 to vertically center the button text
    @include typography($neutral00, 16px, 500, 1); 
    color: $neutral00;
    background-color: $primary-darkblue;
    padding: 1em rem(28px);
    border-radius: 9999px;
}
.secondary-link-button {
    @include flex($gap: rem(8px));
    @include typography($neutral00, 16px, 500, 1);
    color: $primary-darkblue;
    border-radius: 9999px;
    border: solid 1px $primary-darkblue;
    padding: 1em rem(28px);
    // height: 100%;

    img {
        width: rem(18px);
        height: rem(18px);
    }
}
.button-container {
    @include flex(row, space-between, $gap: rem(16px));
    flex: 1;
}

.section {
    .secondary-link-button {
        @include responsive(desktop) {
            font-size: rem(14px);
            line-height: calc(20 / 14);
        }
    }
}