@use "../abstracts/index" as *;

.primary-link-button {
    @include flex();
    color: $neutral00;
    background-color: $primary-darkblue;
    padding: 1em rem(28px);
    border-radius: 9999px;
}
.secondary-link-button {
    @include flex($gap: rem(8px));
    color: $primary-darkblue;
    border-radius: 9999px;
    border: solid 1px $primary-darkblue;
    padding: 1em rem(28px);
    // height: 100%;

    img {
        width: rem(18px);
        height: rem(18px);
    }
}
.button-container {
    @include flex(row, space-between, $gap: rem(16px));
    flex: 1;
    height: 3em; // 3 times the font size of the buttons
}
