@use "../abstracts/index" as *;

.card {
    padding: rem(8px);
    background-color: $neutral00;
    border-radius: 12px;
    box-shadow: 0px 4px 28px -2px $box-shadow;
    @include grid($gap: rem(8px));
}
.card-img {
    width: 100%;
    border-radius: 10px;
}
.card-name {
    @include typography($neutral100, rem(14px), 700, calc(20 / 14));
    @include responsive(desktop) {
        font-size: rem(16px);
        line-height: calc(24 / 16);
    }
}
.card-info {
    @include typography($neutral60, rem(12px), 500, calc(20 / 14))
}
.price {
    @include typography($neutral100, rem(16px), 700, calc(24/16));
    @include responsive(desktop) {
        font-size: rem(14px);
        line-height: calc(20 / 14);
    }
}