@use "../abstracts/index" as *;

// id o prevent from affecting other page
#filter-page {
    margin-bottom: rem(60px);
    .filter-options-container {
        @include responsive-range($start: 1px, $end: 1023px) {
            position: fixed;
            top: 1rem;
            right: 1rem;
            bottom: 1rem;
            z-index: 10;
            background-color: canvas;
            padding: 1em;
            border-radius: rem(12px);
            border: solid 1px #22222222;
            max-width: em(220px, 14px);
            max-height: max(300px, 90vh);
            overflow-y: scroll;
        }
    }

    .filter-heading {
        @include typography($primary-darkblue, rem(24px), 700, calc(36 / 24))
    }
    .section-title {
        @extend .filter-heading;
        display: inline;
        margin-right: rem(14px); 
    }
    .filter-title {
        @include typography($neutral100, rem(16px), 700, calc(24 / 16));
    }

    // Each group of filter header and inputs is styled in components/filter-group.scss

    @include responsive(desktop) {
        @include grid($c-template: rem(280px) 1fr, $gap: rem(20px));
    }
}

.backlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: 9;
}

.filter-button {
    @include typography($primary-darkblue80, rem(16px), 700, calc(24 / 16));

    &:hover {
        background-color: #22222222;
    }
}