@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($c-template: 1fr, $gap: 0) {
    display: grid;
    grid-template-columns: $c-template;
    gap: $gap;

}

@mixin typography($color: black, $size: 1rem, $weight: 400, $line: 1.5) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}

@mixin link-button() {
    @include flex();
    border-radius: 9999px;
}