@use "variables.scss" as *;
@use "sass:map";

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0, $wrap: wrap) {
    display: flex;
    gap: $gap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin grid($c-template: 1fr, $gap: 0, $auto-flow: row, $r-template: auto, $align: stretch) {
    display: grid;
    grid-template-columns: $c-template;
    grid-template-rows: $r-template;
    gap: $gap;
    grid-auto-flow: $auto-flow;
    align-items: $align;
}

@mixin typography($color: black, $size: 1rem, $weight: 400, $line: 1.5) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}

@mixin link-button() {
    @include flex();
    border-radius: 9999px;
}

@mixin container($name, $type: inline-size) {
    container-name: $name;
    container-type: $type;
}

@mixin responsive($breakpoint) {
    $breakpoint-value: map.get($breakpoints-map, $breakpoint);
    @if $breakpoint-value {
        @media (min-width: $breakpoint-value) {
            @content;
        }
    } @else {
        @warn "No value found for breakpoint `#{$breakpoint}` in $breakpoints-map map.";
    }
}