$white: #fff;
$neutral00: #FDFDFD;
$neutral10: #EBEEEF;
$neutral20: #CCD1D2;
$neutral40: #99A2A5;
$neutral60: #667479;
$neutral80: #242B33;
$neutral100: #00171F;

$primary-darkblue: #003459;
$primary-darkblue80: #002A48;

$state-bluesea: #00A7E7;

$black: #000;

$base-font-size: 16px;