$white: #fff;
$neutral00: #FDFDFD;
$neutral10: #EBEEEF;
$neutral20: #CCD1D2;
$neutral40: #99A2A5;
$neutral60: #667479;
$neutral80: #242B33;
$neutral100: #00171F;

$primary-darkblue: #003459;
$primary-darkblue80: #002A48;

$secondary-monyellow: #F7DBA7;
$secondary-monyellow40: #FCEED5;
$secondary-monyellow60: #F1D092;

$state-bluesea: #00A7E7;

$black: #000;

$back-layer: #22222222;

$box-shadow: #00000014;

$base-font-size: 16px;

$side-margins-phone: 16px;
$side-margins-tablet: 40px;
$side-margins-desktop: min(10vw, 130px);

$nav-height-mobile: 3.5625em; // em(57px);
$nav-height-tablet: 4.75em; // em(76px);
$nav-height-desktop: 6.25em; // em(100px);

// ENSURE TO CHANGE THE 'js/utils/css-constants.js' FILE IF CHANGING THESE

$breakpoints-map: (
    tablet:768px,
    desktop: 1024px,
    qhd: 2560px // 1440p and above
);